@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --bleufoncé: #284b63;
    --blanc: #ffffff;
    --gris: #d9d9d9;
    --bleu-clair: #3c6e71;
    --gris-foncé: #353535;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}



.product{
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.product-category{
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
}

.product-container{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
    height: 500px;
}

.product-container::-webkit-scrollbar{
    display: none;
}

.product-card{
    border-radius: 50px;
    flex: 0 0 auto;
    width: 350px;
    height: 200px;
    margin-right: 40px;
}

.product-image{
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.product-thumb{
    width: 100%;
    height: 350px;
object-fit: cover;
    border-radius: 10px;
}

.en-cours{
    width: 100%;
    height: 8px;
    overflow: hidden;
    padding-left: 20px;
    background-color: var(--gris-foncé);
    border-radius: 5px;
}

.en-cours .en-cours-back{
    width: 50px;
    height: 8px;
    margin-left: -20px;
    background-color: var(--bleu-clair);
    filter: brightness(150%);
    transform: scaleX(6.4);
}

.mockup-tag{
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 3px;
    color: var(--bleu-clair);
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn{
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 20px;
    color: var(--blanc);
    transform: translateX(-50%);
    width: 100%;
    height: 50px;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: var(--bleu-clair);
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn{
   opacity: 1;
}

.card-btn:hover{
    background: var(--bleufoncé);
}

.product-info{
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand{
     text-transform: uppercase;
}

.product-mockup-description{
    width: 100%;
    height: 20px;
    line-height: 2àpx;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price{
    font-weight: 900;
    font-size: 20px;
}

.actual-price{
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

/*collection*/

.collection-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.collection{
    position: relative;
}
.collection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
f
.collection p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(219, 219, 219);
    font-size: 50px;
    text-transform: capitalize;
}

.collection:nth-child(3){
    grid-column: span 2;
    margin-bottom: 10px;
}

/*Cette partie sert pour les bars de pourcent*/
/*Mettez des styles width*/